<div class="shadow-sm p-4 mb-4 bg-white rounded" style="width: 50%; padding: 0.5%; margin: auto;margin-top: 10%;">
    <form>
        <h4 style="width: 30% ;margin: auto; text-align: center; margin-top: 1%; margin-bottom: 2%">Product remove</h4>
        <p style="font-size: 20px;text-align: start; margin-left: 10%; margin-top: 5%; margin-bottom: 10%">Are you sure delete this product?</p>
        <div style="text-align: center">
            <a class="btn btn-danger" role="button" aria-pressed="true" href="/"
                style="color: cornsilk">Delete</a>
            <a class="btn btn-secondary" role="button" aria-pressed="true" href="/"
                style="color: cornsilk">Cancle</a>
    </form>
</div>